* {
    /* font-family: arial, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body {
    background-color: #1e2127;
}
.PageBody{
    background-color: #ffffff;
    border-radius: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/*  */
.QuantityInCart{
    display: flex;
    max-width: 125px;
    /* border: 1px solid #adc4c4; */
    border-bottom: 1px solid black;
    border-radius: 10px;
    overflow:hidden ;
}
.QuantityInCart-input{
    width: 50px;
    border: none;
    padding: 5px;
    font-size: 1em;
    background-color: #00000000;
}
.AddToCart-button{
    width: 60%;
    border: none;
    background-color: #1fac99;
    color: white;
    font-weight: bold;
    font-family: arial, sans-serif;
    /* font-size: 1em; */
    cursor: pointer;
    padding: 5px;
}
.AddToCart-button:hover {
    background-color: #157064;
}
.CartDeleteItemButton{
    font-size: 1em;
    border: 1px solid #ffffff00;;
    background-color: #ffffff00;
    color: red;
    text-decoration: underline;
    cursor: pointer;
    font-family: arial, sans-serif;
}
.CartItemsNotes{
    color: #626262;
}
/*  */
.TopBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    /* justify-content: center; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    /* font-size: 1.5rem; */
    font-size: 2vh;
}
.TopBar h1{
    color: rgb(15, 146, 42);
}
.TitleImage{
    height: 100px;
}
.TobBarImage{
    max-height: 4vh;
    margin-right: 5vw;
    margin-top: 1%;
}
/*  */
.edit-button{
    max-width: 125px;
    padding: 10px;
    border: 1px solid #1fac99;
    border-radius: 10px;
    width: 100%;
    background-color: #ffffff00;
    color: #444444;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 1em;
    cursor: pointer;
}
.button {
    /* max-width: 125px; */
    /* width: auto; */
    padding: 10px;
    margin: 10px;
    border: 1px solid #1fac99;
    border-radius: 10px;
    /* width: 100%; */
    background-color: #ffffff;
    color: #444444;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
.input{
    max-width: 50%;
    border: 1px solid #adc4c4;;
    background-color: #ffffff;
    padding: 5px;
    margin: 10px;
    font-family: arial, sans-serif;
    font-size: 1em;
    border-radius: 10px;
    /* width: 100%; */
}
.span{
    margin: 10px;
    width: 20%;
}
.CancelButton{
    background-color: rgb(255, 57, 57);
    border: none;
    color: white;
}
.EditSaveButton{
    background-color: rgb(24, 183, 69);
    border: none;
    color: white;
}
.DeleteConformationButton{
    background-color: rgb(255, 57, 57);
    border: #ffffff00;
    color: #ffffff;
    align-content: center;
}
.CancelButtonDeleteForm{
    border-color: #444444;
    color: rgb(0, 0, 0);
}
.buttons-container-in-rows{
    display: flex; 
    flex-direction: row;
    gap: min(.5vh, .5vw);
    align-items: center;
}
.IconButton{
    height: min(3vh, 2vw);
    padding: min(.5vh, .5vw);
    border-radius: min(.5vh, .5vw);
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: background-color 0.2s ease;
    stroke: white;
    margin: 0;
}
.IconButton:hover{
    background-color: #1fac99;
}
.IconButtonDelete:hover{
    background-color: rgb(255, 57, 57);
}

.AddNewItemButton{
    margin: 25px;
    background-color: #1fac99;
    color:#ffffff;
}
.EditableInputField{
    max-width: 100px;
    border: 1px solid #adc4c4;;
    background-color: #1fac9900;
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
}
.FinishSellForm{
    padding: 15px;
    max-width: 300px;
}
.FinishSellForm h2{
    padding: 15px;
}

/*  */
.PageToolBar{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
    border: 2px solid rgb(15, 146, 42);
    border-radius: 15px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}
.PageToolBar .IconButton{
    height: 35px;
}
.PageTitle{
    /* margin-left: auto;
    margin-right: 20px; */
    margin-left: 20px;
    margin-right: auto;
}
/*  */
#Close{
    background-color: #f74848;
}
.Cart h2{
    text-align: center;
}
/*  */
.red-button{
    background-color: #f74848;
    border: none;
    color: rgb(255, 255, 255);
}
.green-button{
    background-color: rgb(15, 146, 42);
    border: none;
    color: #ffffff;
}
.border-none{
    border: none;
}
/*  */
.BackGroundBlurLayer{
    position: absolute;
    top: 0px;
    left: 0px;
    /* bottom: 0px; */
    /* right: 0px; */
    width: 100vw;
    height: 91vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 5%;
    align-items: center;
}
.Form{
    background-color:#ffffff;
    border: 1px solid #adc4c4;;
    border-radius: 10px;
    /* margin: 5px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: right;
    font-size: 1.25rem;
    /* width: 70%; */
    padding-left: 5%;
    padding-right: 5%;
    overflow-y:auto ;
    max-height: 80vh;
    /* margin-top: 200px; */
}
.Form .input {
    background-color:#f0f0f0;
    border: none;
    border-radius: 5px;
    /* text-align: right; */
}
.Form label{
    display: flex;
    /* flex-flow: row-reverse; */
    align-items: start;
    /* text-align: right; */
    text-align: left;
}
.Form span {
    /* background-color: #1fac99; */
    min-width: 250px;
}
.Form h1{
    text-align: center;
}
.Form h3{
    text-align: center;
    color: rgb(15, 146, 42);
}
.Form textarea{
    min-height: 100px;
    background-color:#f0f0f0;
    border: none;
    border-radius: 5px;
    /* text-align: right; */
    width: 100%;
    resize: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.25rem;
}
/*  */
.HomepageIcons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 3vw;
    margin-top: 5vh;
    /* height: 800px; */
    /* max-width : 1000px; */
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 5%;
    
}
.HomepageIcon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1vw;
    border: none;
    padding: 2%;
    width: max(15vw, 15vh);
    height: calc(180*max(15vw, 15vh)/250);
    /* margin: 5px; */
    /* background-color: #1fac99; */
    background: linear-gradient(to bottom, rgb(38, 173, 94), rgb(0, 130, 0));
    transition: background-color .25s ease;
    cursor: pointer;
}
.HomepageIcon button{
    background: #00000000;
    border: none;
    color: white;
    font-size: calc(2vw);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media (max-aspect-ratio: 10/10) {
    .HomepageIcons {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .HomepageIcon{
        width: 30vw;
        height: calc(180*30vw/250);
    }
    .HomepageIcon button{
        font-size: calc(4vw);
    }
}

/* @media (max-width: 810px) {
    .HomepageIcons{
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        gap: 5vw;
        
    }
    .HomepageIcon{
        width: 25vw;
        height: calc(180*25vw/250);
    }
    .HomepageIcon button{
        font-size: 1.3rem;
    }
} */
  
.HomepageIcon img{
    height: 50%;
    object-fit: contain;
}
.HomepageIcon:hover{
    background: linear-gradient(to bottom, rgb(38, 173, 94), rgb(38, 173, 94));
}
/*  */
.Statistics{
    display: flex;
    justify-content: space-evenly;
}
.Statistics h3{
    color: rgb(15, 146, 42);
    font-size: 40px;
}
/*  */
.HomePageOptions{
    color: #f1f5ff;
    position: absolute;
    top: 8%;
    right: 4%;
    padding: 0px 20px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.HomePageOptions ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.HomePageOptions ul li{
    border-radius: min(1vw, 1vh);
    padding: 1vw 1vw;
    text-align: center;
    background: linear-gradient(to bottom, rgb(38, 173, 94), rgb(0, 130, 0));
    /* background-color: rgb(0, 130, 0); */
    cursor: pointer;
}

.HomePageOptions ul li:hover{
    background: linear-gradient(to bottom, rgb(0, 130, 0), rgb(0, 130, 0));

}

/*  */

.BillToBePrintedUI{
    /* visibility: hidden;  */
    background-color: #ffffff;
    width: 1041px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    /* width: 100%; */
    /* padding-top: 40px;
    padding-bottom: 40px; */
}
.BillToBePrintedUI .TitleImage{
    width: 416px;
    height: auto
}
.BillToBePrintedUI th, .BillToBePrintedUI td{
    border-left: 4px solid #ffffff;
    background-color: #f1f5ff;
    padding: 16px;
}
.BillToBePrintedUI th{
    border: 6px solid #ffffff;
}
.BillToBePrintedUI td{
    border-right: 6px solid #ffffff;
    border-left: 6px solid #ffffff;
    text-align: left;
}
.BillToBePrintedUI .LogoAndBillInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 16px;
    font-size: 32px;
}
.BillToBePrintedUI .LogoImageContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.BillToBePrintedUI .LogoImage{
    width: 90%;
    height: auto;
    /* max-height: 300px; */
}
.BillToBePrintedUI .BillInfo{
    display: flex;
    gap: 16px;
    flex: 2;
    align-self: flex-start;
    /* flex-direction: column; */
}
.BillToBePrintedUI .BillInfo *{
    flex: 1;
}
.BillToBePrintedUI .BillInfo-Data{
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 6px;
    flex: 1;
}
.BillToBePrintedUI .BillInfo-Data *{
    background-color: #f1f5ff;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
}
.BillToBePrintedUI .BillInfo-Data *:last-of-type{
    min-height: 160px;
}
.BillToBePrintedUI .BillInfo-Labels{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: right;
}
.BillToBePrintedUI .BillInfo-Labels b{
    max-height: 43px;
}
.BillToBePrintedUI .BillFooter {
    width: 100%;
}


@media print {
    body * {
        visibility: hidden; /* Hide everything */
        -webkit-print-color-adjust: exact; /* For WebKit-based browsers like Chrome and Safari */
        print-color-adjust: exact; /* Standard property */
    }
  
    .BillToBePrintedUI, .BillToBePrintedUI * {
        visibility: visible; /* Show only the bill */
    }
  }